Java/PEF_WIN/temp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.ws.fal.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FALWebServicesImplService" targetNamespace="http://impl.ws.fal.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.ws.fal.com/" schemaLocation="http://dev.falsolutions.com:80/falws/falws?xsd=1"/>
</xsd:schema>
</types>
<message name="commitTransaction">
<part element="commitTransaction" name="parameters"/>
</message>
<message name="commitTransactionResponse">
<part element="commitTransactionResponse" name="parameters"/>
</message>
<message name="requestRewards">
<part element="requestRewards" name="parameters"/>
</message>
<message name="requestRewardsResponse">
<part element="requestRewardsResponse" name="parameters"/>
</message>
<message name="SVMessagesRequest">
<part element="SVMessagesRequest" name="parameters"/>
</message>
<message name="SVMessagesRequestResponse">
<part element="SVMessagesRequestResponse" name="parameters"/>
</message>
<message name="validateCoupon">
<part element="validateCoupon" name="parameters"/>
</message>
<message name="validateCouponResponse">
<part element="validateCouponResponse" name="parameters"/>
</message>
<message name="deleteCurrencyRate">
<part element="deleteCurrencyRate" name="parameters"/>
</message>
<message name="deleteCurrencyRateResponse">
<part element="deleteCurrencyRateResponse" name="parameters"/>
</message>
<message name="deleteFamilyByLevel">
<part element="deleteFamilyByLevel" name="parameters"/>
</message>
<message name="deleteFamilyByLevelResponse">
<part element="deleteFamilyByLevelResponse" name="parameters"/>
</message>
<message name="deleteFamilyByParent">
<part element="deleteFamilyByParent" name="parameters"/>
</message>
<message name="deleteFamilyByParentResponse">
<part element="deleteFamilyByParentResponse" name="parameters"/>
</message>
<message name="deleteProduct">
<part element="deleteProduct" name="parameters"/>
</message>
<message name="deleteProductResponse">
<part element="deleteProductResponse" name="parameters"/>
</message>
<message name="deleteTender">
<part element="deleteTender" name="parameters"/>
</message>
<message name="deleteTenderResponse">
<part element="deleteTenderResponse" name="parameters"/>
</message>
<message name="saveCurrencyRate">
<part element="saveCurrencyRate" name="parameters"/>
</message>
<message name="saveCurrencyRateResponse">
<part element="saveCurrencyRateResponse" name="parameters"/>
</message>
<message name="saveFamily">
<part element="saveFamily" name="parameters"/>
</message>
<message name="saveFamilyResponse">
<part element="saveFamilyResponse" name="parameters"/>
</message>
<message name="saveTender">
<part element="saveTender" name="parameters"/>
</message>
<message name="saveTenderResponse">
<part element="saveTenderResponse" name="parameters"/>
</message>
<message name="saveProduct">
<part element="saveProduct" name="parameters"/>
</message>
<message name="saveProductResponse">
<part element="saveProductResponse" name="parameters"/>
</message>
<message name="saveProductPrice">
<part element="saveProductPrice" name="parameters"/>
</message>
<message name="saveProductPriceResponse">
<part element="saveProductPriceResponse" name="parameters"/>
</message>
<message name="saveBrand">
<part element="saveBrand" name="parameters"/>
</message>
<message name="saveBrandResponse">
<part element="saveBrandResponse" name="parameters"/>
</message>
<message name="deleteBrand">
<part element="deleteBrand" name="parameters"/>
</message>
<message name="deleteBrandResponse">
<part element="deleteBrandResponse" name="parameters"/>
</message>
<portType name="FALWebServicesImpl">
<operation name="commitTransaction">
<input message="commitTransaction"/>
<output message="commitTransactionResponse"/>
</operation>
<operation name="requestRewards">
<input message="requestRewards"/>
<output message="requestRewardsResponse"/>
</operation>
<operation name="SVMessagesRequest">
<input message="SVMessagesRequest"/>
<output message="SVMessagesRequestResponse"/>
</operation>
<operation name="validateCoupon">
<input message="validateCoupon"/>
<output message="validateCouponResponse"/>
</operation>
<operation name="deleteCurrencyRate">
<input message="deleteCurrencyRate"/>
<output message="deleteCurrencyRateResponse"/>
</operation>
<operation name="deleteFamilyByLevel">
<input message="deleteFamilyByLevel"/>
<output message="deleteFamilyByLevelResponse"/>
</operation>
<operation name="deleteFamilyByParent">
<input message="deleteFamilyByParent"/>
<output message="deleteFamilyByParentResponse"/>
</operation>
<operation name="deleteProduct">
<input message="deleteProduct"/>
<output message="deleteProductResponse"/>
</operation>
<operation name="deleteTender">
<input message="deleteTender"/>
<output message="deleteTenderResponse"/>
</operation>
<operation name="saveCurrencyRate">
<input message="saveCurrencyRate"/>
<output message="saveCurrencyRateResponse"/>
</operation>
<operation name="saveFamily">
<input message="saveFamily"/>
<output message="saveFamilyResponse"/>
</operation>
<operation name="saveTender">
<input message="saveTender"/>
<output message="saveTenderResponse"/>
</operation>
<operation name="saveProduct">
<input message="saveProduct"/>
<output message="saveProductResponse"/>
</operation>
<operation name="saveProductPrice">
<input message="saveProductPrice"/>
<output message="saveProductPriceResponse"/>
</operation>
<operation name="saveBrand">
<input message="saveBrand"/>
<output message="saveBrandResponse"/>
</operation>
<operation name="deleteBrand">
<input message="deleteBrand"/>
<output message="deleteBrandResponse"/>
</operation>
</portType>
<binding name="FALWebServicesImplPortBinding" type="FALWebServicesImpl">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="commitTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestRewards">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SVMessagesRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateCoupon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCurrencyRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFamilyByLevel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFamilyByParent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteTender">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveCurrencyRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveFamily">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveTender">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveProductPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBrand">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FALWebServicesImplService">
<port binding="FALWebServicesImplPortBinding" name="FALWebServicesImplPort">
<soap:address location="http://dev.falsolutions.com:80/falws/falws"/>
</port>
</service>
</definitions>
